* { 
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Open Sans", sans-serif;
  line-height: auto;
}
img {
  border-radius: 28px;
  background-size: contain
}

#page {
  width: 1120px;
  background-color: #F5F4F0;
  padding: 88px 80px 137px 80px;
  margin: auto;
}
.headline {
  font-size: 16px;
  color: #E1624F;
  font-weight: bold;
  padding-bottom: 8px;
}
.headline2 {
  font-size: 28px;
  font-weight: bold;
  color: #E1624F;
  padding-top: 64px;
  padding-bottom: 2px;
}
h1{
  font-size: 36px;
  font-weight: bold;
}
#busan img {
  padding-bottom: 24px;
  padding-top: 40px;
}
#busan p {
  padding-bottom: 40px;
  text-align: center;
  font-style: italic;
}
#destinos p {
padding-bottom: 64px;
padding-top: 8px;
}  

/* separação de padrão */

ul {
  padding-left: 20px;
}
 

 li {
  color: #0C51A7;
  font-weight: bold;
  /* margin-left: 20px; */

}
#beomeo img {
  padding-top: 48px;
  
}
#parque img {
  padding-top: 48px;
 
}
 p + P {
  font-weight: bold;
  color: #333333;
  padding-top: 20px;
}

h3 {
font-size: 28px;
padding-top: 20px;
padding-bottom: 4px;
}

h2 {
  font-size: 32px;
}
#purple{
  color: #591B98;
}
#pink {
  color: #E5245E;
}
#orange {
  color: #E95E10;
}

#description {
  text-align: center;
}

footer {
  text-align: center;
  img
}
footer img {
  vertical-align: middle;
}
ul li::marker {
  color: #333333;
}